<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @flow.description %>
</p>

<% if @flow.user == current_user %>
	<%= link_to 'Edit', edit_flow_path(@flow) %> |
<% end %>
<%= link_to 'Back', flows_path %>
