<h1>About It's Flowing</h1>
</br>
<p>CREATE. SHARE. INSPIRE OTHERS.
BE INSPIRED BY OTHERS. CREATE. SHARE. INSPIRE OTHERS.
BE INSPIRED BY OTH.... well, I guess you get the idea.</p>
</br>

<p>IT'S FLOWING is about that. It's a network for artists of all disciplines, that want or need a source of inspiration (trigger). It's about artists connecting and helping each other make their art grow. It's about hard work, constructive feedback, and most importantly...no BS.

Example: Veronica is a writer. She wrote a short story and shared it on Flowing. Fred is a photographer. He read Veronica’s short story, and inspired him for a picture idea based on that story. He shared the picture on Flowing and linked it to Veronica’s story. Thomas is a painter. After reading Veronica’s story, he made a painting inspired on it. And of course, he shared it on Flowing. Anna is a comics artist. She liked Veronica’s story, and both Fred and Thomas visuals inspired on it. So she gets inspired by all that and transform it in a short graphic novel. And shared it on Flowing. Lucas is a composer. He created a piece inspired on Veronica and Thomas’ works. He shared it on Flowing. Agnes is a filmmaker. She contacted Veronica, and made a short film based on her story. She also contacted Lucas and asked him to use his music in it. 

</p>

