<div class="jumbotron center">
	<h1>It's Flowing</h1>
	<h4><i>It's coming soon</i></h4>
	
<!--
	<% if user_signed_in? %>
	# do something
	<% else %>
	<p>
		<%= link_to "Log in ", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up ", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>

-->



</div>

<div class="panel panel-primary">
	<div class="panel panel-heading"> What is It's Flowing</div>

	<div class="panel-body">

		<p><span class="description">CREATE. SHARE. INSPIRE OTHERS.
			BE INSPIRED BY OTHERS. CREATE. SHARE. INSPIRE OTHERS.
			BE INSPIRED BY OTH.... well, I guess you get the idea.</span></p>
		</br>

		<p><span class="mainName">IT'S FLOWING </span>is about that. It's a network for artists of all disciplines, that want or need a source of inspiration. It's about artists connecting and helping each other make their art grow. It's about hard work, constructive feedback, and most importantly...no BS.</p>

	</div>
</div>

